<meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = 0, viewport-fit = cover, shrink-to-fit = no">
<link rel="stylesheet" href="assets/css/style.css">
<div class="calc-main-container">
    <header>
        <h2>Eℂash Pod</h2>
    </header>
</div>
<div class="calc-center">
    <div class="calc-buttons-cont op-buttons" style="width: 90vw;">
        <div class="calc-button showqr calc-black-button"><i class="fa fa-qrcode"></i> Show QR</div>
        <div class="calc-button scanqr calc-red-button"><i class="fa fa-object-group"></i> Scan QR</div>
        <div class="calc-button transactions" style="display: none;"><i class="fa fa-file-text-o"></i> Transactions</div>
    </div>
</div>
<script src="./assets/js/page.js"></script>
<script>
    let _uz = { e: document.querySelector(".op-buttons").getElementsByTagName("div") };
    for (let k in _uz.e) {
        if (_uz.e[k] && _uz.e[k].className) {
            if (_uz.e[k].className.match(/(transactions)/) && localStorage.transactions) _uz.e[k].style.display = "block";
            _uz.e[k].addEventListener("click", (e) => {
                loadPage({ shells: _uz.e[k].className.match(/(showqr)/) ? ["showqr"] : _uz.e[k].className.match(/(scanqr)/) ? ["scanqr"] : ["transactions"], scroll: 0 });
                delete localStorage.digit;
            });
        };
    };
</script>