<meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = 0, viewport-fit = cover, shrink-to-fit = no">
<link rel="stylesheet" href="assets/css/style.css">
<div class="calc-main-container">
    <div class="op-buttons">
        <div class="calc-back calc-black-button keyboard"><i class="fa fa-edit"></i></div>
        <div class="calc-close calc-red-button currency"><i class="fa fa-money"></i></div>    
    </div>
    <header>
        <h2>Eℂash Pod</h2>
    </header>
    <div class="calc-display-cont">
        <div class="calc-display-information">
            <p>Name: <strong class="account-name"></strong></p>
            <p><i class="fa fa-credit-card"></i> <span class="account-number"></span></p>
            <p><i class="fa fa-link"></i> <span class="account-protocol"></span></p>
            <p><i class="fa fa-money"></i> <span class="account-currency"></span></p>
        </div>
    </div>
</div>
<div id="api-404" hidden></div>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/page.js"></script>
<script>
    let openApp = (d) => {
        readAccount();
    };
    _uz.e = document.querySelector(".op-buttons").getElementsByTagName("div");
    for (let k in _uz.e) {
        if (_uz.e[k] && _uz.e[k].className) {
            _uz.e[k].addEventListener("click", (e) => {
                loadPage({ shells: _uz.e[k].className.match(/(currency)/) ? ["currency"] : ["keyboard"], scroll: 0 });
            });
        };
    };
    _uz.z = { qrScan: { arr: [], hashes: [] }, digit: { height: 12 }, slider: { single: {} } };
    _uz.qr = { length: 72, delay: 128, interval: 0, hash: "354h58t7854t3665p58s12&35784*457*366e323c3v987a23u789l3654t36$3675w4545e4b1124$66a8783p3315p35==" };
    document.getElementById("api-404").appendChild(_uz.api);
    _uz.qrhash({ hash: _uz.qr.hash });
</script>